#projects {
    width: 100%;
    height: 100vh;
    padding-inline: 120px;
    padding-block: 72px 144px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(
                180deg,
                var(--gray-500) 100%,
                var(--gray-400) 0%
            );
}
#services {
    width: 100%;
    height: 480px;
    padding-inline: 120px;
    padding-block: 88px 120px;
    background-color: var(--gray-600);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}